In [67]:
import pandas as pd
import numpy as np

In [68]:
path = "C:/Users/XR943MK/ironhack/lessons/ProyectoMiki/Excel/Csv's/"

In [69]:
def date_conversion(fecha, split_s):
    """ Conversión de la variable fecha de tipo string a tipo datetime. Útil para la transformación de datos."""
    
    array_fecha = fecha.split(split_s)
    return date(int(array_fecha[2]), int(array_fecha[1]), int(array_fecha[0]))

In [70]:
df_intMatches=pd.read_csv(path+"international_matches.csv")
df_results=pd.read_csv(path+"results.csv")
df_glScr=pd.read_csv(path+"goalscorers.csv")
df_shOuts=pd.read_csv(path+"shootouts.csv")
#df_playerInfo=pd.read_excel(path+"Career Mode player datasets - FIFA 15-22.xlsx", sheet_name="FIFA 22")

In [71]:
df_intMatches["date"]=pd.to_datetime(df_intMatches["date"], format='%Y-%m-%d')
df_glScr["date"]=pd.to_datetime(df_glScr["date"], format='%Y-%m-%d')
df_shOuts["date"]=pd.to_datetime(df_shOuts["date"], format='%Y-%m-%d')
df_results["date"]=pd.to_datetime(df_results["date"], format='%Y-%m-%d')

## Transformamos los primeros datasets

De aquí sacamos ranking fifa de las selecciones

In [72]:
df_country_score=df_intMatches[['date', 'home_team', 'away_team', 'home_team_continent','away_team_continent', 'home_team_fifa_rank', 
                                'away_team_fifa_rank','home_team_total_fifa_points', 'away_team_total_fifa_points', 
                                'home_team_goalkeeper_score', 'away_team_goalkeeper_score','home_team_mean_defense_score', 
                                'home_team_mean_offense_score','home_team_mean_midfield_score', 'away_team_mean_defense_score',
                                'away_team_mean_offense_score', 'away_team_mean_midfield_score']]

df_country_score_home=df_country_score[['date', 'home_team','home_team_continent','home_team_fifa_rank','home_team_total_fifa_points',
                                        'home_team_goalkeeper_score','home_team_mean_defense_score','home_team_mean_offense_score',
                                        'home_team_mean_midfield_score']]


df_country_score_away=df_country_score[['date', 'away_team','away_team_continent','away_team_fifa_rank','away_team_total_fifa_points',
                                        'away_team_goalkeeper_score','away_team_mean_defense_score','away_team_mean_offense_score',
                                        'away_team_mean_midfield_score']]

df_country_score_home.rename(columns={"home_team":"country","home_team_continent":"continent","home_team_fifa_rank":"fifa_rank",
                                      "home_team_total_fifa_points":"total_fifa_points",
                                      "home_team_goalkeeper_score":"goalkeeper_score","home_team_mean_defense_score":"mean_defense_score",
                                      "home_team_mean_offense_score":"mean_offense_score","home_team_mean_midfield_score":"mean_midfield_score"},
                                      inplace=True)

df_country_score_away.rename(columns={"away_team":"country","away_team_continent":"continent","away_team_fifa_rank":"fifa_rank",
                                      "away_team_total_fifa_points":"total_fifa_points",
                                      "away_team_goalkeeper_score":"goalkeeper_score","away_team_mean_defense_score":"mean_defense_score",
                                      "away_team_mean_offense_score":"mean_offense_score","away_team_mean_midfield_score":"mean_midfield_score"},
                                      inplace=True)

df_country_score=df_country_score_home.append(df_country_score_away)
df_country_score=df_country_score.sort_values("date")
df_country_score=df_country_score.dropna()

C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\472678718.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_score_home.rename(columns={"home_team":"country","home_team_continent":"continent","home_team_fifa_rank":"fifa_rank",
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\472678718.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country_score_away.rename(columns={"away_team":"country","away_team_continent":"continent","away_team_fifa_rank":"fifa_rank",
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\472678718.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_country_score=df_country_score_home.append(df_country_score_away)

In [73]:
df_country_score["year"]=df_country_score.date.dt.year
df_country_score=df_country_score.groupby(["year","country"])["fifa_rank","total_fifa_points","goalkeeper_score","mean_defense_score","mean_offense_score","mean_midfield_score"].mean().reset_index()
df_country_score["total_score"]=df_country_score["goalkeeper_score"]+df_country_score["mean_defense_score"]+df_country_score["mean_offense_score"]+df_country_score["mean_midfield_score"]
df_country_score.to_excel(path+"CountryScore.xlsx")

C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\3554530006.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_country_score=df_country_score.groupby(["year","country"])["fifa_rank","total_fifa_points","goalkeeper_score","mean_defense_score","mean_offense_score","mean_midfield_score"].mean().reset_index()

In [74]:
df_country_score ## Información respecto selecciones (ranking, media en diferentes posiciones,etc)

,year,country,fifa_rank,total_fifa_points,goalkeeper_score,mean_defense_score,mean_offense_score,mean_midfield_score,total_score
0,2004,Argentina,3.250000,0.000000,78.0,87.0,87.0,88.5,340.5
1,2004,Australia,59.000000,0.000000,83.0,74.2,80.3,76.5,314.0
2,2004,Austria,87.500000,0.000000,83.0,76.2,73.0,74.0,306.2
3,2004,Belgium,32.000000,0.000000,75.0,81.0,78.0,77.2,311.2
4,2004,Bosnia and Herzegovina,69.000000,0.000000,62.0,72.2,74.3,70.8,279.3
...,...,...,...,...,...,...,...,...,...
1317,2022,Ukraine,27.000000,1535.000000,75.0,74.8,78.7,80.0,308.5
1318,2022,United Arab Emirates,68.800000,1352.400000,70.0,63.0,64.3,67.0,264.3
1319,2022,Uruguay,15.000000,1617.857143,80.0,81.2,84.3,80.0,325.5
1320,2022,Venezuela,58.333333,1406.000000,73.0,72.8,76.3,77.8,299.9
1321,2022,Wales,18.571429,1585.142857,74.0,75.0,73.0,78.5,300.5

# penalties

In [75]:
df_shOuts.to_excel(path+"penalties.xlsx")

## De aquí sacamos los goleadores de cada partido

In [76]:
df_glScr.replace({'own_goal' : { False : 0, True : 1 }},inplace=True)
df_glScr.replace({'penalty' : { False : 0, True : 1 }},inplace=True)

In [77]:
df_scoreInfo=df_glScr.groupby(["date","home_team","away_team","team","scorer"])[["own_goal","penalty"]].sum().reset_index()
df_glScrPlayer=df_glScr.groupby(["date","home_team","away_team","team","scorer"])["minute"].count().reset_index()
df_glScrPlayer.rename(columns={"minute":"goals"},inplace=True)
df_glScrtrf=pd.merge(df_glScrPlayer,df_scoreInfo,on=["date","home_team","away_team","team","scorer"])

In [78]:
df_glScrtrf["year"]=df_glScrtrf.date.dt.year
df_glScrtrf=df_glScrtrf.groupby(["year","home_team","away_team","team","scorer"]).sum().reset_index()
df_glScrtrf["againsTeam"]=np.where(df_glScrtrf.team!=df_glScrtrf.home_team,df_glScrtrf.home_team,df_glScrtrf.away_team)
df_glScrtrf.to_excel(path+"GoalScored.xlsx")

# Filtrar los datos a partir de 1924

In [79]:
df_results=df_results.sort_values("date")
df_results["year"]=df_results.date.dt.year
df_results=df_results[df_results.year > 1925]

# Borrar Nan

In [80]:
df_results.dropna(inplace=True)

# Filtrar torneos

In [81]:
top_tournaments=["Friendly","Copa América","FIFA World Cup","UEFA Euro","AFC Asian Cup","African Cup of Nations","Arab Cup","Oceania Nations Cup"]
other_tournaments=df_results[~df_results.isin(top_tournaments)].tournament.unique()
df_results['tournament'] = df_results['tournament'].replace(other_tournaments, 'others')

# Indicar quien ha ganado

In [82]:
df_results["winner"]="draw"
df_results["winner"]=np.where(df_results.home_score > df_results.away_score,df_results.home_team,df_results.winner)
df_results=pd.merge(df_results,df_shOuts,on=["date","home_team","away_team"],how="left")
df_results.replace(np.nan,0,inplace=True)
df_results["winner_x"]=np.where(df_results.winner_y!=0,df_results.winner_y,df_results.winner_x)
df_results["penalty_winner"]=np.where(df_results.winner_y!=0,1,0)
df_results.drop(["winner_y"],axis=1,inplace=True)
df_results.rename(columns={"winner_x":"winner"},inplace=True)
df_results["loser"]=np.where((df_results.winner!="draw")&(df_results.winner==df_results.home_team),df_results.away_team,df_results.home_team)
df_results["loser"]=np.where(df_results.winner=="draw","draw",df_results.loser)
df_results.drop(["year"],axis=1)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,penalty_winner,loser
0,1926-01-17,Italy,Czechoslovakia,3.0,1.0,Friendly,Turin,Italy,False,Italy,0,Czechoslovakia
1,1926-01-24,Haiti,Curaçao,1.0,1.0,Friendly,Port-au-Prince,Haiti,False,draw,0,draw
2,1926-01-31,Haiti,Curaçao,0.0,1.0,Friendly,Port-au-Prince,Haiti,False,draw,0,draw
3,1926-02-07,Haiti,Curaçao,2.0,1.0,Friendly,Port-au-Prince,Haiti,False,Haiti,0,Curaçao
4,1926-02-13,Northern Ireland,Wales,3.0,0.0,others,Belfast,Northern Ireland,False,Northern Ireland,0,Wales
...,...,...,...,...,...,...,...,...,...,...,...,...
43397,2022-12-05,Brazil,South Korea,4.0,1.0,FIFA World Cup,Doha,Qatar,True,Brazil,0,South Korea
43398,2022-12-06,Morocco,Spain,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True,Morocco,1,Spain
43399,2022-12-06,Portugal,Switzerland,6.0,1.0,FIFA World Cup,Lusail,Qatar,True,Portugal,0,Switzerland
43400,2022-12-09,Croatia,Brazil,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True,Croatia,1,Brazil
43401,2022-12-09,Netherlands,Argentina,2.0,2.0,FIFA World Cup,Lusail,Qatar,True,Argentina,1,Netherlands

In [83]:
df_results.to_excel(path+"WorldMatches.xlsx")

In [84]:
df_home=df_results[["date","home_team","home_score","away_score","tournament","winner"]]
df_home["win"]=np.where(df_results.home_team==df_results.winner,1,0)
df_home.rename(columns={"home_team":"country","home_score":"goles_marcados","away_score":"goles_encajados"},inplace=True)
df_home.drop(["winner"],axis=1,inplace=True)


df_away=df_results[["date","away_team","away_score","home_score","tournament","winner"]]
df_away["win"]=np.where(df_results.away_team==df_results.winner,1,0)
df_away.rename(columns={"away_team":"country","away_score":"goles_marcados","home_score":"goles_encajados"},inplace=True)
df_away.drop(["winner"],axis=1,inplace=True)

df_stats= df_home.append(df_away)
df_stats=df_stats.sort_values("date")
#añadir si es campeon mundial

C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home["win"]=np.where(df_results.home_team==df_results.winner,1,0)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home.rename(columns={"home_team":"country","home_score":"goles_marcados","away_score":"goles_encajados"},inplace=True)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home.drop(["winner"],axis=1,inplace=True)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away["win"]=np.where(df_results.away_team==df_results.winner,1,0)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away.rename(columns={"away_team":"country","away_score":"goles_marcados","home_score":"goles_encajados"},inplace=True)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away.drop(["winner"],axis=1,inplace=True)
C:\Users\XR943MK\AppData\Local\Temp\ipykernel_22856\2240141352.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_stats= df_home.append(df_away)

In [85]:
df_stats

,date,country,goles_marcados,goles_encajados,tournament,win
0,1926-01-17,Italy,3.0,1.0,Friendly,1
0,1926-01-17,Czechoslovakia,1.0,3.0,Friendly,0
1,1926-01-24,Haiti,1.0,1.0,Friendly,0
1,1926-01-24,Curaçao,1.0,1.0,Friendly,0
2,1926-01-31,Haiti,0.0,1.0,Friendly,0
...,...,...,...,...,...,...
43399,2022-12-06,Portugal,6.0,1.0,FIFA World Cup,1
43401,2022-12-09,Netherlands,2.0,2.0,FIFA World Cup,0
43400,2022-12-09,Croatia,1.0,1.0,FIFA World Cup,1
43400,2022-12-09,Brazil,1.0,1.0,FIFA World Cup,0
43401,2022-12-09,Argentina,2.0,2.0,FIFA World Cup,1


# calcular el numero de partidos jugados antes del inicio de cada competición

In [86]:
def compute_win_streak(df):

    df=df.sort_values('date')
    df=df[["win"]]
    grouper = (df.win != df.win.shift()).cumsum()
    df['streak'] = df.groupby(grouper).cumsum()
    return df.streak.max(),df.iloc[-1].streak

In [87]:
def compute_total_matches(df_stats,kickoff_day):
    df_stats=df_stats[df_stats.tournament!="FIFA World Cup"]
    data=[]
    for i in range (len(kickoff_day)):
        if i==0:
            df_statsD=df_stats[df_stats.date < kickoff_day[i] ]
        else:
            df_statsD=df_stats[(df_stats.date > kickoff_day[i-1])&(df_stats.date < kickoff_day[i])]
            
        for c in df_stats.country.unique():
            df_statsC=df_statsD[df_statsD.country==c]
            if not df_statsC.empty:
                max_streak,last_streak=compute_win_streak(df_statsC)
                data.append([kickoff_day[i],c,len(df_statsC),df_statsC.goles_marcados.sum(),df_statsC.goles_encajados.sum(),max_streak,last_streak])

    return pd.DataFrame(data, columns=['date','country','num_matches', 'goals scored','conceded goals',"max_win_streak","last_win_streak"])

In [88]:
df_stats["year"]=df_stats.date.dt.year
df_statsWC=df_stats[df_stats.tournament=="FIFA World Cup"]
kickoff_day=df_statsWC.groupby("year").date.first().reset_index().date.values
df_statsbeforewrldcup=compute_total_matches(df_stats,kickoff_day)

In [93]:
df_statsbeforewrldcup

,date,country,num_matches,goals scored,conceded goals,max_win_streak,last_win_streak
0,1930-07-13,Italy,29,73.0,52.0,2,0
1,1930-07-13,Czechoslovakia,38,96.0,59.0,3,1
2,1930-07-13,Haiti,5,5.0,11.0,1,0
3,1930-07-13,Curaçao,6,7.0,8.0,1,1
4,1930-07-13,Wales,14,22.0,42.0,0,0
...,...,...,...,...,...,...,...
3726,2022-11-20,Biafra,3,2.0,1.0,1,1
3727,2022-11-20,Mapuche,2,3.0,2.0,1,1
3728,2022-11-20,Maule Sur,2,2.0,0.0,0,0
3729,2022-11-20,Aymara,2,1.0,4.0,0,0
3730,2022-11-20,Brunei Darussalam,2,1.0,3.0,1,1

In [95]:
df_statsbeforewrldcup.to_excel(path+"CountryStatsbfWrldcup.xlsx")
last_day=df_statsWC.groupby("year").date.last().reset_index()
wrld_winner=pd.merge(last_day,df_results[["date","winner"]],on="date")
wrld_winner.to_excel(path+"wrld_winner.xlsx")
df_statsbeforewrldcup["year"]=df_statsbeforewrldcup.date.dt.year
pd.merge(df_statsbeforewrldcup,wrld_winner,on="year").to_excel(path+"df_statsbeforewrldcup.xlsx")